[mysqld]
user = mysql
log-bin = /var/lib/mysql/mysql-bin
bind-address = 0.0.0.0
port = 3306
socket=/var/lib/mysql/mysql.sock
[mysql]
user = mysql
password = password
port = 3306
socket=/var/lib/mysql/mysql.sock