$color: cornflowerblue;
%message {
    font-family: arial;
    font-size: 18;
    margin-bottom: 10%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    color: $color;
    text-align: justify;
}
table {
    width: 100%;
    background-color: lightcyan;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    a {
    text-decoration: none;
    }
    th, td {
        padding: 20px;
        text-align: center;
    }
    a {
        color: darkblue;
    }
    th {
        width: 30%;
    }
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    align-items: center;
    display: center;
    flex-wrap: wrap;
}

body  {
    @extend %message;
}
h1 {
    font-size: 24;
    text-align: left;
    color: darkblue;
    margin: 5%;
    padding-top: 20px;
}
h2, h3 {
    color: darkblue;
    margin: 5%;
    padding-top: 20px;
}
th:hover {
    font-weight: 100;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.col-lg-3 :hover {
    .middletext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.col-sm-6 :hover {
    .middletext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.col-sm-12 :hover {
    .middletext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.col-lg-12 :hover {
    .middletext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.row {
    .container {
        position: center;
        margin-left: auto;
        margin-right: auto;
    }
    p {
    text-align: center;
    }
}